<video autoplay poster="assets/resources/polina.jpg" id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. 
    Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
  <source src="assets/resources/polina.webm" type="video/webm">
  <source src="assets/resources/polina.mp4" type="video/mp4">
</video>

<!-- Look for better solution than using a spacer -->
<div class="spacer" style="width: auto; height: 50px;"></div>
<ion-list>
  <ion-item id="existingUser">
    <ion-label>I'm an Existing User</ion-label>
    <ion-checkbox [(ngModel)]="existing" (ionChange)="resetErrors()"></ion-checkbox>
  </ion-item>
</ion-list>
<div class="spacer" style="width: auto; height: 100px;"></div>

<div id="polina">
  <ion-list>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-item *ngIf="showError">
      <span ion-text color="danger">{{error}}</span>
    </ion-item>
    <button *ngIf="existing" ion-button (click)="login()" primary block> Sign In
      <ion-spinner *ngIf="showSpinnie" name="ios"></ion-spinner>
    </button>
    <button *ngIf="!existing" ion-button (click)="signup()" primary block>Sign Up
      <ion-spinner *ngIf="showSpinnie" name="ios"></ion-spinner>
    </button>
    <button *ngIf="showForgotPasswd" ion-button (click)="forgotpasswd()" secondary block> Send Password Reset mail</button>
  </ion-list>
</div>
