page-login {
  .spinner svg {
    width: 19% !important;
    height: 85px !important;
  }
  
  #existingUser {
    /* Set colors */
  }
  
  .SignIn {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 100% 100%;
  }
  
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('assets/resources/polina.jpg') no-repeat;
    background-size: cover;
    transition: 0s opacity;
  }
  
  #polina {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    width: 95%;
    margin: 1rem;
  }
}
