<video autoplay poster="assets/resources/polina.jpg" id="bgvid" loop>
  <source src="assets/resources/polina.webm" type="video/webm">
  <source src="assets/resources/polina.mp4" type="video/mp4">
</video>

<div class="spacer" style="width: auto; height: 50px;"></div>
<ion-list>
  <ion-item *ngIf="code_generation">
    <ion-label  text-center>
      <span> Please Verify your Phone to Get Started </span>
      <p text-center>  The messenger will send a one time SMS message to verify your phone number. <br> Carrier SMS charges may apply. </p>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="verify_code">
      <p text-center> An SMS with the secret code is sent to you by you <br> Please enter the secret code to Verify. </p>
  </ion-item>
</ion-list>
<div class="spacer" style="width: auto; height: 100px;"></div>

<div id="polina">
  <ion-list>
    <ion-item *ngIf="verify_code">
      <ion-label floating>Verification Code</ion-label>
      <ion-input type="tel" [(ngModel)]="code" required></ion-input>
    </ion-item>
    <ion-item *ngIf="code_generation">
      <ion-label floating>Phone</ion-label>
      <ion-input type="tel" [(ngModel)]="phone" required></ion-input>
    </ion-item>
    <ion-item *ngIf="code_generation">
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item *ngIf="showError">
      <span ion-text color="danger">{{error}}</span>
    </ion-item>
    <button ion-button *ngIf="code_generation" [disabled]="phone==null || phone.length < 10 || email==null || email.length < 4"
      (click)="send_secret_code_sms()" primary block> Send Verification Code
    </button>
    <button ion-button *ngIf="verify_code" [disabled]="phone==null || phone.length < 10 || email==null || email.length < 4"
      (click)="verify()" dark block> Verify Code
    </button>
  </ion-list>
</div>