<ion-item>
  <ion-label color="primary"> Diaper Condition </ion-label>
  <ion-select [(ngModel)]="type">
    <ion-option value="pee"> Pee </ion-option>
    <ion-option value="poop"> Poop </ion-option>
    <ion-option value="both"> Both </ion-option>
  </ion-select>
</ion-item>
<time-date defaultDate="{{inputDate}}" (timedate)="updatetimedate($event)"> </time-date>
<ion-item>
  <ion-label floating color="primary">Notes </ion-label>
<ion-textarea [(ngModel)]="notes"> </ion-textarea>
</ion-item>
<button ion-button block [disabled]="type==null || type=='' || time == null || date ==null" (click)="saveClicked()" color="dark"> Save </button>