<ion-card>
  <ion-grid class="{{getGender(baby | async)}}">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-avatar item-left>
            <img src="{{getImgUrl(baby | async)}}">
          </ion-avatar>
          <h2>{{getName(baby | async)}}</h2>
          <p>{{getDob(baby | async)}} </p>
        </ion-item>
      </ion-col>
      <ion-col col-auto>
        <ion-buttons end>
          <button ion-button icon-only clear (click)="showShare()"> 
              <ion-icon name="share"> </ion-icon>
            </button>
          <button ion-button icon-only clear (click)="deleteClicked()"> 
              <ion-icon name="trash"> </ion-icon>
            </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>