<ion-card>
  <ion-grid class="{{gender}}">
    <ion-row>
      <ion-col>
        <ion-item  (click)="showClicked()">
          <ion-avatar item-left>
            <img src="{{img}}">
          </ion-avatar>
          <h2>{{name}}</h2>
          <p> {{dob}} </p>
        </ion-item>
      </ion-col>
      <ion-col col-auto (click)="do_nothing()">
        <ion-buttons end>
          <button *ngIf="admin" ion-button icon-only clear (click)="showShare()"> 
              <ion-icon name="share"> </ion-icon>
            </button>
          <button ion-button icon-only clear (click)="deleteClicked()"> 
              <ion-icon name="trash"> </ion-icon>
            </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
