<ion-header style="background-color: red">
  <ion-grid>
    <ion-row row-sm>
      <ion-col col-auto style="color: white;  text-align:center; display: block; margin: auto;">
        <ion-title> <span style="color:white">Pumping</span> </ion-title>
      </ion-col>
      <ion-col>
        <ion-buttons end>
          <button ion-button (click)="cancel()" clear><span style="color:white"> Cancel </span></button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <time-date defaultDate="{{getDate()}}" (timedate)="updatetimedate($event)"> </time-date>
  <ion-item no-lines>
    <ion-label>Enter Seperately for Both Sides</ion-label>
    <ion-checkbox [(ngModel)]="seperate" checked="true"></ion-checkbox>
  </ion-item>
  <ion-grid *ngIf="seperate">
    <ion-row>
      <ion-col width-50>
        <ion-item>
          <ion-label floating color="primary">Left Volume(in ml)</ion-label>
          <ion-input type="number" [(ngModel)]="left_volume"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col width-50>
        <ion-item>
          <ion-label floating color="primary">Right Volume(in ml)</ion-label>
          <ion-input type="number" [(ngModel)]="right_volume"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item *ngIf="!seperate">
    <ion-label floating color="primary">Volume from Both (in ml)</ion-label>
    <ion-input type="number" [(ngModel)]="both_volume"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea [(ngModel)]="notes" placeholder="Notes"> </ion-textarea>
  </ion-item>
  <button ion-button block [disabled]="time==null || date==null || (seperate && !(left_volume>0)) || (seperate && !(right_volume>0)) || (!seperate && !(both_volume>0))" (click)="savePumping()" color="dark"> Save </button>

</ion-content>