<ion-item class="item-profile">
  Hello
  <ion-avatar style="text-align: center" *ngIf="!showImg">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon class="big-font" name="ios-camera-outline" (click)="getFromCamera()"> </ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon class="big-font" name="images" (click)="getFromGallery()"> </ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-avatar>
  <img *ngIf="showImg" class="preview" src="{{image}}">
  <progress *ngIf="showProgressBar" value="{{progress}}" max="100"></progress>
</ion-item>