<ion-content>

  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button value="friends" (ionSelect)="showFriends()">
      Friends
    </ion-segment-button>
    <ion-segment-button value="invites" (ionSelect)="showInvites()">
      Invite
    </ion-segment-button>
  </ion-segment>

  <!-- Show 2 segments .. those in network and those not in network -->
  <ion-list *ngIf="segment=='friends'">
    <friend *ngFor="let contact of getInNetworkContacts(contactStatus)" name="{{contact.name}}" email="{{contact.accountemail}}" invitestate="{{contact.state}}" notificationCount="{{getNotificationCount(contact)}}"> </friend>
  </ion-list>

  <ion-list *ngIf="segment=='invites'">
    <friend *ngFor="let contact of getNotInNetworkFriends(contactStatus)" name="{{contact.name}}" email="{{contact.accountemail}}" invitestate="{{contact.state}}" notificationCount="0" (invite)="invite()"> </friend>
  </ion-list>

</ion-content>