<ion-menu [content]="content">
  <ion-content class="menu-left">
    <div padding class="menu-left menu-bg">
      <a menuClose (click)="goToMyProfilePage()">
        <img class="profile-picture" *ngIf="profileImg" src="{{profileImg}}">
        <div class="center-text">
            <ion-icon name="ios-camera-outline"> </ion-icon>
        </div>
           <h4 ion-text color="light" *ngIf="!name" style="text-align: center"> {{email}} </h4> 
        <h4 ion-text color="light" *ngIf="name" style="text-align: center"> {{name}} </h4>
        </a>
    </div>

    <ion-list>
      <button ion-item menuClose *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon item-left name="{{ page.icon }}"></ion-icon>
        {{ page.title }}
        <ion-badge color="danger" item-right *ngIf="page.count">{{ page.count }}</ion-badge>
      </button>
    </ion-list>
    <hr>
  </ion-content>
</ion-menu>
<code-push> </code-push>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>